/*--------------------*/
/*BASIC SETUP*/
/*--------------------*/

/*font-family: 'Cinzel Decorative', cursive;
font-family: 'Raleway', sans-serif;
color: #f5f5f5;
orange light: #e67e22;
orange dark: #cf6d17;*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #555;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 300;
  background-color: #f5f5f5;
}

/*--------------------*/
/*REUSABLE COMPONENTS*/
/*--------------------*/
.row {
  max-width: 1140px;
  margin: 0 auto;
}
.container {
  text-align: center;
}
hr {
  border: 0.6px solid #f5f5f5;
}


/*HEADINGS*/
h1 {
  font-family: 'Cinzel Decorative', serif;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
  color: #f5f5f5;
  font-size: 300%;
  text-align: center;
  /*text-transform: uppercase;*/
  letter-spacing: 2px;
  word-spacing: 3px;
  line-height: 150%;
}
h2 {
  font-family: 'Cinzel Decorative', serif;
  font-weight: 400;
  margin-top: 30px;
}
h3 {
  font-family: 'Cinzel Decorative', serif;
  font-weight: 400;
  font-size: 75%;
  margin-top: 10px;
  margin-bottom: 0;
}


/*BUTTONS*/
.btn:link,
.btn:visited {
  padding: 10px 30px;
  font-weight: 300;
  border-radius: 200px;
  color: #f5f5f5;
  margin-right: 15px;
}
.btn-full:link,
.btn-full:visited {
  background-color: #e67e22;
  border: 1px solid #e67e22;
}
.btn-full:hover,
.btn-full:active {
  background-color: #cf6d17;
  border: 1px solid #cf6d17;
}
.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid #e67e22;
}
.btn-ghost:hover,
.btn-ghost:active {
  background-color: #cf6d17;
  border: 1px solid #cf6d17;
}

/*--------------------*/
/*HEADER*/
/*--------------------*/
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('img/headerpizza.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  /*box-shadow: 5px 10px 18px #888888;*/
  box-shadow: 0 -25px 25px 0px #f5f5f5 inset;
}
.welcome {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
}
.welcome hr {
  width: 28%;
  margin: 0 auto;
}
.welcome p {
  text-align: center;
  color: #f5f5f5;
  margin-top: 20px;
  margin-bottom: 20px;
}
.logo {
  height: 100px;
  width: auto;
  margin-top: 20px;
  float: left;
  filter: invert(100%);
  margin-left: 35px;
}
.main-nav {
  float: right;
  list-style: none;
  margin-top: 40px;
  margin-right: 30px;
}
.main-nav li {
  display: inline-block;
  margin-left: 40px;
}
.main-nav li a:link,
.main-nav li a:visited {
  padding: 8px 0;
  color: #f5f5f5;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
}
.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid #e67e22;
}

/*--------------------*/
/*KIEMELT*/
/*--------------------*/
.special {
  padding-top: 30px;
}
.special p a  {
  text-decoration: underline;
}
.special a {
  margin-bottom: 30px;
  margin-top: 30px;
}
.specialmeal {
    width: 100%;
    overflow: hidden;
    margin: 15px auto;
    box-shadow: 5px 5px 30px -10px rgba(0,0,0,0.75);
    position: relative;
    text-align: center;
    color: white;
    background-color: #000;
}
.specialmeal img {
  display: block;
  width: 100%;
  height: auto;
  transform: scale(1.15);
  transition: transform 0.5s;
}
.specialmeal img:hover {
  transform: scale(1);
  opacity: 0.5;
}
.mealname {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0,0,0,0.4);
  width: 100%;
  height: 30%;
}
.mealname p {
  margin: 0px;
  padding: 0px;
  font-size: 80%;
}
